<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" defaultTestSuite="all">
  <testsuites>
    <testsuite name="all">
      <directory>problems/*/tests</directory>
    </testsuite>
    <testsuite name="01">
      <directory>problems/problem01/tests</directory>
    </testsuite>
    <testsuite name="02">
      <directory>problems/problem02/tests</directory>
    </testsuite>
    <testsuite name="03">
      <directory>problems/problem03/tests</directory>
    </testsuite>
    <testsuite name="04">
      <directory>problems/problem04/tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
